<header>
    <h4>Práctica Sequelize</h4>
    
    <nav>
        <ul>
            <li>
                <a href="/peliculas/crear">Crear Pelicula</a>
                
            </li>
            <li>
                <a href="/peliculas">Ver Peliculas</a>
                
            </li>
        </ul>

    </nav>
</header>