body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

header {
    background-color: papayawhip;
    padding: 10px;
}

footer {
    background-color: peachpuff;
    padding: 10px;
}